{% extends 'base.html' %} {% load static %} {% block header %}
<!-- Header-->
<header class="bg-secondary py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Cart Summary</h1>
            <p class="lead fw-normal text-white-50 mb-0">
                List of the product inside the cart chosen by the user
            </p>
        </div>
    </div>
</header>
{% endblock header %} {% block content %} {% endblock content %}
<!-- Footer-->
